<!DOCTYPE html>
{% load static %}


<html lang="fa" dir="rtl">
  <head>
    <link rel="manifest" href="{% static "manifest.json" %}" />
    <link rel="icon" href="{% static "assets/images/favicon/2.png" %}" type="image/x-icon" />
    <link rel="apple-touch-icon" href="{% static "assets/images/favicon/2.png" %}" />
    <meta name="theme-color" content="#e22454" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="apple-mobile-web-app-title" content="Voxo" />
    <meta
      name="msapplication-TileImage"
      content="{% static "assets/images/favicon/2.png" %}"
    />
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Voxo" />
    <meta name="keywords" content="Voxo" />
    <meta name="author" content="Voxo" />
    <link rel="icon" href="{% static "assets/images/favicon/2.png" %}" type="image/x-icon" />
    <title>Index</title>

    <!-- Font -->
    <link rel="stylesheet" type="text/css" href="{% static "assets/css/fonts.cs" %}s" />

    <!-- bootstrap css -->
    <link
      id="rtl-link"
      rel="stylesheet"
      type="text/css"
      href="{% static "assets/css/vendors/bootstrap.rtl.css" %}"
    />

    <!-- font-awesome css -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static "assets/css/vendors/font-awesome.css" %}"
    />

    <!-- feather icon css -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static "assets/css/vendors/feather-icon.css" %}"
    />

    <!-- animation css -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static "assets/css/vendors/animate.css" %}"
    />

    <!-- slick css -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static "assets/css/vendors/slick/slick.css" %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static "assets/css/vendors/slick/slick-theme.css" %}"
    />

    <!-- Theme css -->
    <link
      id="color-link"
      rel="stylesheet"
      type="text/css"
      href="{% static "assets/css/demo2.css" %}"
    />

    <script>
      function status_favorite() {

            $.ajax({
            type:"GET",
            url:"/sf/calc_favorite/",

            success: function(res) {
              $("#status_fav").html(res)
              
              
                

            },
    });
    }
  </script>

<script>
  status_favorite();
</script>
    <script>
      function addshopcart(product_id,qty) {
            if(qty===0){
              qty=$("#product_input").val();
              }
            $.ajax({
            type:"GET",
            url:"/orders/add_to_shopcart/",
            data:{
              product_id:product_id,
              qty:qty
            },
            success: function(res) {
              alert("محصول به سبد خرید اضافه شد");
              
                

            },
    });
    }
      
    </script>

    <script>
      function deleteshopcart(product_id) {
            $.ajax({
            type:"GET",
            url:"/orders/delete_from_shopcart/",
            data:{
              product_id:product_id,
              
            },
            success: function(res) {
              alert("محصول از سبد خرید حذف شد");
              $("#shop_cart").html(res);
                

            },
    });
    }
      
    </script>


    <script>
      function add_to_favorite(product_id) {
            $.ajax({
            type:"GET",
            url:"/products/add_favorite/",
            data:{
              product_id:product_id,
              
            },
            success: function(res) {
              alert(res);
                          // تغییر آیکن
              button.removeClass("fa-heart-broken");
              button.addClass("fa-heart");

            // اگه بخوای کلیک غیر فعال بشه
              button.attr("onclick", "");
              status_favorite();
                

            },
    });
    }
      
    </script>
        <script>
      function add_campare(product_id) {
            $.ajax({
            type:"GET",
            url:"/products/add_campare1/",
            data:{
              product_id:product_id,
              
            },
            success: function(res) {
              alert(res);
            },
    });
    }
      
    </script>

        <script>
      function delete_fav(product_id) {
            $.ajax({
            type:"GET",
            url:"/products/delete_favorite/",
            data:{
              product_id:product_id,
              
            },
            success: function(res) {
              alert("محصول با موفقیت حذف شد");
              $("#campare_tebel").html(res);
            },
    });
    }
      
    </script>




    <script>
      function delete_from_fav(product_id) {
            $.ajax({
            type:"GET",
            url:"/sf/delete_favorite/",
            data:{
              product_id:product_id,
              
            },
            success: function(res) {
              alert("محصول با موفقیت حذف شد");
              $("#show_wish_list").html(res);             
              status_favorite();
            },
    });
    }
      
    </script>






  </head>
<body>
  
  
  
  
  {% include "main/partials/header.html" %}
  {% include "partials/messages.html" %}
  {% block content %}
  
  
  
  {% endblock content %}
  {% include "main/partials/footer.html" %}

  

  
</body>
    <!-- latest jquery-->
    <script src="{% static "assets/js/jquery-3.5.1.min.js" %}"></script>

    <!-- Bootstrap js-->
    <script src="{% static "assets/js/bootstrap/bootstrap.bundle.min.js" %}"></script>

    <!-- feather icon js-->
    <script src="{% static "assets/js/feather/feather.min.js" %}"></script>

    <!-- lazyload js-->
    <script src="{% static "assets/js/lazysizes.min.js" %}"></script>

    <!-- Slick js-->
    <script src="{% static "assets/js/slick/slick.js" %}"></script>
    <script src="{% static "assets/js/slick/slick-animation.min.js" %}"></script>
    <script src="{% static "assets/js/slick/custom_slick.js" %}"></script>

    <!-- newsletter js -->
    <script src="{% static "assets/js/newsletter.js" %}"></script>

    <!-- add to cart modal resize -->
    <script src="{% static "assets/js/cart_modal_resize.js" %}"></script>

    <!-- Add To Home js -->
    <script src="{% static "assets/js/pwa.js" %}"></script>

    <!-- add to cart modal resize -->
    <script src="{% static "assets/js/cart_modal_resize.js" %}"></script>

    <!-- feather icon js-->
    <script src="{% static "assets/js/timer1.js" %}"></script>

    <!-- notify js -->
    <script src="{% static "assets/js/bootstrap/bootstrap-notify.min.js" %}"></script>

    <!-- script js -->
    <script src="{% static "assets/js/theme-setting.js" %}"></script>
    <script src="{% static "assets/js/script.js" %}"></script>


</html>