   {% load render_partial %}
   
   <!-- header start -->
    <header class="header-style-2" id="home">
      <div class="main-header navbar-searchbar">
        <div class="container-fluid-lg">
          <div class="row">
            <div class="col-lg-12">
              <div class="main-menu">
                <div class="menu-left">
                  <div class="brand-logo">
                    <a href="index.html">
                      <svg class="svg-icon">
                        <use
                          class="fill-color"
                          xlink:href="{{media_url}}/svg/icons.svg#logo"
                        ></use>
                      </svg>
                      <img
                        src="{{media_url}}/images/logo.png"
                        class="img-fluid blur-up lazyload"
                        alt="logo"
                      />
                    </a>
                  </div>
                  <div class="category-menu">
                    <div class="category-dropdown">
                      <div class="close-btn d-xl-none">
                        لیست دسته ها
                        <span class="back-category"
                          ><i class="fa fa-angle-left"></i>
                        </span>
                      </div>
                      <ul>
                        <li class="submenu">
                          <a href="javascript:void(0)">ساعت ها</a>
                          <ul class="category-mega-menu">
                            <li>
                              <div class="row">
                                <div class="col-xl-3">
                                  <div class="category-childmenu">
                                    <div class="title-category">
                                      <h6>برند ساعت</h6>
                                    </div>
                                    <ul>
                                      <li>
                                        <a href="shop-left-sidebar.html"
                                          >کوروس</a
                                        >
                                      </li>
                                      <li>
                                        <a href="shop-left-sidebar.html"
                                          >تایتان</a
                                        >
                                      </li>
                                      <li>
                                        <a href="shop-left-sidebar.html"
                                          >سیتیزن</a
                                        >
                                      </li>
                                      <li>
                                        <a href="shop-left-sidebar.html"
                                          >کاسیو</a
                                        >
                                      </li>
                                      <li>
                                        <a href="shop-left-sidebar.html"
                                          >موادو</a
                                        >
                                      </li>
                                      <li>
                                        <a href="shop-left-sidebar.html"
                                          >تیسوت</a
                                        >
                                      </li>
                                    </ul>
                                  </div>
                                </div>
                                <div class="col-xl-3">
                                  <div class="category-childmenu">
                                    <div class="title-category">
                                      <h6>نمایشگر ساعت</h6>
                                    </div>
                                    <ul>
                                      <li>
                                        <a href="shop-left-sidebar.html"
                                          >آنالوگ</a
                                        >
                                      </li>
                                      <li>
                                        <a href="shop-left-sidebar.html"
                                          >دیجیتال</a
                                        >
                                      </li>
                                      <li>
                                        <a href="shop-left-sidebar.html"
                                          >ترکیبی</a
                                        >
                                      </li>
                                      <li>
                                        <a href="shop-left-sidebar.html"
                                          >لمسی</a
                                        >
                                      </li>
                                      <li>
                                        <a href="shop-left-sidebar.html"
                                          >صفحه لمسی</a
                                        >
                                      </li>
                                    </ul>
                                  </div>
                                </div>
                                <div class="col-xl-3">
                                  <div class="category-childmenu">
                                    <div class="title-category">
                                      <h6>سبک ساعت</h6>
                                    </div>
                                    <ul>
                                      <li>
                                        <a href="shop-left-sidebar.html"
                                          >معمولی</a
                                        >
                                      </li>
                                      <li>
                                        <a href="shop-left-sidebar.html"
                                          >دریس</a
                                        >
                                      </li>
                                      <li>
                                        <a href="shop-left-sidebar.html">مد</a>
                                      </li>
                                      <li>
                                        <a href="shop-left-sidebar.html"
                                          >لوکس</a
                                        >
                                      </li>
                                    </ul>
                                  </div>
                                </div>
                                <div class="col-xl-3">
                                  <div class="category-banner">
                                    <img
                                      src="{{media_url}}/images/electronics/banner/4.jpg"
                                      class="img-fluid blur-up lazyload"
                                      alt=""
                                    />
                                  </div>
                                </div>
                              </div>
                            </li>
                          </ul>
                        </li>

                        <li>
                          <a href="shop-left-sidebar.html">پاپوش</a>
                        </li>

                        <li class="submenu">
                          <a href="javascript:void(0)">تن پوش</a>
                          <ul class="category-mega-menu">
                            <li>
                              <div class="row">
                                <div class="col-xl-3">
                                  <div class="category-childmenu">
                                    <div class="title-category">
                                      <h6>مد زنانه</h6>
                                    </div>
                                    <ul>
                                      <li>
                                        <a href="shop-left-sidebar.html"
                                          >لباس</a
                                        >
                                      </li>
                                      <li>
                                        <a href="shop-left-sidebar.html"
                                          >دامن</a
                                        >
                                      </li>
                                      <li>
                                        <a href="shop-left-sidebar.html"
                                          >لباس غربی</a
                                        >
                                      </li>
                                      <li>
                                        <a href="shop-left-sidebar.html"
                                          >لباس قومی</a
                                        >
                                      </li>
                                      <li>
                                        <a href="shop-left-sidebar.html"
                                          >لباس ورزشی</a
                                        >
                                      </li>
                                    </ul>
                                  </div>
                                </div>
                                <div class="col-xl-3">
                                  <div class="category-childmenu">
                                    <div class="title-category">
                                      <h6>مد مردانه</h6>
                                    </div>
                                    <ul>
                                      <li>
                                        <a href="shop-left-sidebar.html"
                                          >لباس ورزشی</a
                                        >
                                      </li>
                                      <li>
                                        <a href="shop-left-sidebar.html"
                                          >لباس قومی</a
                                        >
                                      </li>
                                      <li>
                                        <a href="shop-left-sidebar.html"
                                          >لباس غربی</a
                                        >
                                      </li>
                                    </ul>
                                  </div>
                                </div>
                                <div class="col-xl-3">
                                  <div class="category-childmenu">
                                    <div class="title-category">
                                      <h6>تجهیزات جانبی</h6>
                                    </div>
                                    <ul>
                                      <li>
                                        <a href="shop-left-sidebar.html"
                                          >گوشواره</a
                                        >
                                      </li>
                                      <li>
                                        <a href="shop-left-sidebar.html"
                                          >جواهرات مد</a
                                        >
                                      </li>
                                      <li>
                                        <a href="shop-left-sidebar.html"
                                          >کراوات</a
                                        >
                                      </li>
                                      <li>
                                        <a href="shop-left-sidebar.html"
                                          >کلاه</a
                                        >
                                      </li>
                                      <li>
                                        <a href="shop-left-sidebar.html"
                                          >دکمه سرآستین</a
                                        >
                                      </li>
                                      <li>
                                        <a href="shop-left-sidebar.html"
                                          >جواهرات گرانبها</a
                                        >
                                      </li>
                                      <li>
                                        <a href="shop-left-sidebar.html"
                                          >گردنبند ها</a
                                        >
                                      </li>
                                    </ul>
                                  </div>
                                </div>
                                <div class="col-xl-3">
                                  <div class="category-banner">
                                    <img
                                      src="{{media_url}}/images/banner/1.jpg"
                                      class="img-fluid blur-up lazyload"
                                      alt=""
                                    />
                                  </div>
                                </div>
                              </div>
                            </li>
                          </ul>
                        </li>

                        <li>
                          <a href="shop-left-sidebar.html">تجهیزات جانبی</a>
                        </li>
                        <li>
                          <a href="shop-left-sidebar.html">دکور خانه</a>
                        </li>
                        <li>
                          <a href="shop-left-sidebar.html">کیف ها</a>
                        </li>
                        <li>
                          <a href="shop-left-sidebar.html">آشپزخانه</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <nav>
                  <div class="main-navbar">
                    <div id="mainnav">
                      <div class="toggle-nav">
                        <i class="fa fa-bars sidebar-bar"></i>
                      </div>
                      <ul class="nav-menu">
                        <li class="back-btn d-xl-none">
                          <div class="close-btn">
                            منو
                            <span class="mobile-back"
                              ><i class="fa fa-angle-left"></i>
                            </span>
                          </div>
                        </li>
                        <li class="mega-menu dropdown home-menu">
                          <a
                            href="{% url "main:index" %}"
                            class="nav-link menu-title"
                            >خانه</a
                          >
                          <div class="mega-menu-container menu-content">
                            {% render_partial "pro:get_products_group_for_headers" %}
                          </div>
                        </li>

                        <li class="dropdown">
                          <a
                            href="javascript:void(0)"
                            class="nav-link menu-title"
                            >محصول</a
                          >
                          <ul class="nav-submenu menu-content">
                            {% render_partial "pro:get_product_for_header" %}
                          </ul>
                        </li>



                        <li class="mobile-poster d-flex d-xl-none">
                          <img
                            src="{{media_url}}/images/pwa.png"
                            class="img-fluid"
                            alt=""
                          />
                          <div class="mobile-contain">
                            <h5>دانلود اپلیکیشن موبایل</h5>
                            <p class="font-light">
                              یا این گزینه صفحه نمایش میتوانید از وبسایت مانن یک
                              برنامه اسفاده کنید.
                            </p>
                            <a
                              href="javascript:void(0)"
                              id="installApp"
                              class="btn btn-solid-default btn-spacing w-100"
                              >اضافه کردن به صفحه اصلی</a
                            >
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </nav>
                <div class="menu-right">
                  <ul>
                    <li>
                      <div >
                        <a href="{% url "search:search" %}">
                        <i data-feather="search" name="q"></i>
                        </a>
                      </div>

                    </li>
                    <li>
                      <a href="{% url "pro:get_compare" %}" >مقایسه</a>
                    </li>
                    <li class="onhover-dropdown">
                      <div class="cart-media">
                        <i data-feather="user"></i>
                      </div>
                      <div  class="onhover-div profile-dropdown">
                        <ul>
                          {% if user.is_authenticated %}
                          <li>
                            <a href="{% url "accounts:userpanel" %}" class="d-block" >پنل کاربری</a>
                          </li>


                          <li>

                              <a href="{% url "accounts:logout" %}" class="d-block" >خروج</a>

                          </li>

                          {% else %}
                          <li>
                            <a href="{% url "accounts:login" %}" class="d-block">ورود</a>
                          </li>
                          <li>
                            <a href="{% url "accounts:register" %}" class="d-block">ثبت نام</a>
                          </li>
                          {% endif %}
                        </ul>
                      </div>
                    </li>
                    <li class="onhover-dropdown wislist-dropdown">
                      <div class="cart-media">
                        <a href="{% url "sf:wishlist" %}">
                          <i data-feather="heart"></i>
                          <span id="status_fav" class="label label-theme rounded-pill">0</span>
                        </a>
                      </div>
                      <div class="onhover-div">
                        <a href="wishlist.html">
                          <div class="wislist-empty">
                            <i class="fab fa-gratipay"></i>
                            <h6 class="mb-1">
                              علاقه مندیهای شما خالی است !!
                            </h6>
                            <p class="font-light mb-0">
                              بیشتر کاوش کنید و موارد را فهرست کنید.
                            </p>
                          </div>
                        </a>
                      </div>
                    </li>
                    <li class=" cart-dropdown">
                      <a
                        href="{% url "orders:shop_cart" %}"
                        class="btn btn-solid-default btn-spacing"
                      >
                        <i data-feather="shopping-cart" class="pe-2"></i>
                        <span>سبد خرید</span>
                    </a>
                      <div class="onhover-div">
                        <div class="cart-menu">
                          <div class="cart-title">
                            <h6>
                              <i data-feather="shopping-bag"></i>
                              <span class="label label-theme rounded-pill"
                                >5</span
                              >
                            </h6>
                            <span class="d-md-none d-block">
                              <i class="fas fa-arrow-right back-cart"></i>
                            </span>
                          </div>
                          <ul class="custom-scroll">
                            <li>
                              <div class="media">
                                <img
                                  src="{{media_url}}/images/fashion/product/front/1.jpg"
                                  class="img-fluid blur-up lazyload"
                                  alt=""
                                />
                                <div class="media-body">
                                  <h6>کت پلاستیکی مناسب برای لاغری</h6>
                                  <div class="qty-with-price">
                                    <span>78,000 ت</span>
                                    <span>
                                      <input
                                        type="number"
                                        class="form-control"
                                        value="1"
                                      />
                                    </span>
                                  </div>
                                </div>
                                <button
                                  type="button"
                                  class="btn-close d-block d-md-none"
                                  aria-label="Close"
                                >
                                  <i class="fas fa-times"></i>
                                </button>
                              </div>
                            </li>
                            <li>
                              <div class="media">
                                <img
                                  src="{{media_url}}/images/fashion/product/front/7.jpg"
                                  class="img-fluid blur-up lazyload"
                                  alt=""
                                />
                                <div class="media-body">
                                  <h6>ژاکت شیک زنانه</h6>
                                  <div class="qty-with-price">
                                    <span>24,000 ت</span>
                                    <span>
                                      <input
                                        type="number"
                                        class="form-control"
                                        value="1"
                                      />
                                    </span>
                                  </div>
                                </div>
                                <button
                                  type="button"
                                  class="btn-close d-block d-md-none"
                                  aria-label="Close"
                                >
                                  <i class="fas fa-times"></i>
                                </button>
                              </div>
                            </li>
                          </ul>
                        </div>
                        <div class="cart-btn">
                          <h6 class="cart-total">
                            <span class="font-light">مجموع:</span> 542,000 ت
                          </h6>
                          <button
                            onclick="location.href = 'cart.html';"
                            type="button"
                            class="btn btn-solid-default btn-block"
                          >
                            ادامه برای پرداخت
                          </button>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="search-full">
                  <div class="input-group">
                    <span class="input-group-text">
                      <i data-feather="search" class="font-light"></i>
                    </span>
                    <input
                      type="text"
                      class="form-control search-type"
                      placeholder="اینجا جستجو کنید ..."
                    />
                    <span class="input-group-text close-search">
                      <i data-feather="x" class="font-light"></i>
                    </span>
                  </div>
                  <div class="search-suggestion">
                    <ul class="custom-scroll">
                      <li>
                        <div class="product-cart media">
                          <img
                            src="{{media_url}}/images/electronics/product/1.jpg"
                            class="img-fluid blur-up lazyload"
                            alt=""
                          />
                          <div class="media-body">
                            <a href="javascript:void(0)">
                              <h6 class="mb-1">ساعت هوشمند 4 ERT2</h6>
                            </a>
                            <ul class="rating p-0">
                              <li>
                                <i class="fas fa-star theme-color"></i>
                              </li>
                              <li>
                                <i class="fas fa-star theme-color"></i>
                              </li>
                              <li>
                                <i class="fas fa-star theme-color"></i>
                              </li>
                              <li>
                                <i class="fas fa-star"></i>
                              </li>
                              <li>
                                <i class="fas fa-star"></i>
                              </li>
                            </ul>
                            <p class="mb-0 mt-1">28,000 ت</p>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="product-cart media">
                          <img
                            src="{{media_url}}/images/electronics/product/5.jpg"
                            class="img-fluid blur-up lazyload"
                            alt=""
                          />
                          <div class="media-body">
                            <a href="javascript:void(0)">
                              <h6 class="mb-1">
                                آبمیوه گیری پاورماتیک 900 واتی
                              </h6>
                            </a>
                            <ul class="rating m-0 p-0">
                              <li>
                                <i class="fas fa-star theme-color"></i>
                              </li>
                              <li>
                                <i class="fas fa-star theme-color"></i>
                              </li>
                              <li>
                                <i class="fas fa-star theme-color"></i>
                              </li>
                              <li>
                                <i class="fas fa-star theme-color"></i>
                              </li>
                              <li>
                                <i class="fas fa-star theme-color"></i>
                              </li>
                            </ul>
                            <p class="mb-0 mt-1">35,000 ت</p>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- header end -->