{% extends "main_template.html" %}



{% block content %}


 <!-- ورود Section Start -->
    <div class="login-section">
      <div class="materialContainer">
        <div class="box">
          <div class="login-title">
            <form action="" method="post">
                {% csrf_token %}
            <h2>رمز عبور</h2>
          </div>
          <div class="input">
            {{form.password1}}
            <span class="spin"></span>
            <div class="valid-feedback">لطفا رمز عبور رو وارد کنید</div>
          </div>

          <div class="input">
            {{form.password2}}
            <span class="spin"></span>
          </div>



          <div class="button login">
            <button  type="submit">
              <span>ارسال</span>
              <i class="fa fa-check"></i>
            </button>
          </div>
        </form>

        </div>
      </div>
    </div>
    <!-- ورود Section End -->

    <div class="bg-overlay"></div>


{% endblock content %}





