{% extends "main_template.html" %}
{% load render_partial %}

{% load humanize %}

{% block content %}

    <!-- mobile fix menu start -->
    <div class="mobile-menu d-sm-none">
      <ul>
        <li>
          <a href="{% url "main:index" %}">
            <i data-feather="home"></i>
            <span>خانه</span>
          </a>
        </li>
        <li>
          <a href="javascript:void(0)" class="toggle-category">
            <i data-feather="align-justify"></i>
            <span>دسته بندی</span>
          </a>
        </li>
        <li>
          <a href="cart.html">
            <i data-feather="shopping-bag"></i>
            <span>سبد خرید</span>
          </a>
        </li>
        <li>
          <a href="wishlist.html">
            <i data-feather="heart"></i>
            <span>علاقه مندیها</span>
          </a>
        </li>
        <li>
          <a href="user-dashboard.html">
            <i data-feather="user"></i>
            <span>حساب</span>
          </a>
        </li>
      </ul>
    </div>
    <!-- mobile fix menu end -->

    <!-- Breadcrumb section start -->
    <section class="breadcrumb-section section-b-space">
      <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h3>فهرست خرید</h3>
            <nav>
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="index.html">
                    <i class="fas fa-home"></i>
                  </a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                  فروشگاه مد
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </section>
    <!-- Breadcrumb section end -->

    <!-- Shop Section start -->
    <form action="">
      
    <section class="section-b-space">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-4">
            <div class="category-option">
              <div class="button-close mb-3">
                <button class="btn p-0">
                  <i data-feather="arrow-left"></i> بستن
                </button>
              </div>
              <div class="accordion category-name" id="accordionExample">
                <div class="accordion-item category-rating">
                  <h2 class="accordion-header" id="headingTwo">
                    <button
                      class="accordion-button"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#collapseTwo"
                    >
                      برند
                    </button>
                  </h2>
                  <div
                    id="collapseTwo"
                    class="accordion-collapse collapse show"
                    data-bs-parent="#accordionExample"
                  >
                    <div class="accordion-body category-scroll">
                        {% render_partial "pro:get_brand" slug %}
                        {% comment "" %}
                      <ul class="category-list">
                        <li>
                          <div class="form-check ps-0 custome-form-check">
                            <input
                              class="checkbox_animated check-it"
                              type="checkbox"
                              id="flexCheckDefault1"
                            />
                            <label
                              class="form-check-label"
                              for="flexCheckDefault1"
                              >زارا</label
                            >
                            <p class="font-light">(25)</p>
                          </div>
                        </li>
                        <li>
                          <div class="form-check ps-0 custome-form-check">
                            <input
                              class="checkbox_animated check-it"
                              type="checkbox"
                              id="flexCheckDefault2"
                            />
                            <label
                              class="form-check-label"
                              for="flexCheckDefault2"
                              >الن سولی</label
                            >
                            <p class="font-light">(25)</p>
                          </div>
                        </li>
                        <li>
                          <div class="form-check ps-0 custome-form-check">
                            <input
                              class="checkbox_animated check-it"
                              type="checkbox"
                              id="flexCheckDefault3"
                            />
                            <label
                              class="form-check-label"
                              for="flexCheckDefault3"
                              >لویس فیلیپ</label
                            >
                            <p class="font-light">(25)</p>
                          </div>
                        </li>
                        <li>
                          <div class="form-check ps-0 custome-form-check">
                            <input
                              class="checkbox_animated check-it"
                              type="checkbox"
                              id="flexCheckDefault4"
                            />
                            <label
                              class="form-check-label"
                              for="flexCheckDefault4"
                              >ورزش لویس فیلیپ</label
                            >
                            <p class="font-light">(25)</p>
                          </div>
                        </li>
                        <li>
                          <div class="form-check ps-0 custome-form-check">
                            <input
                              class="checkbox_animated check-it"
                              type="checkbox"
                              id="flexCheckDefault5"
                            />
                            <label
                              class="form-check-label"
                              for="flexCheckDefault5"
                              >اچ.ام</label
                            >
                            <p class="font-light">(25)</p>
                          </div>
                        </li>
                        <li>
                          <div class="form-check ps-0 custome-form-check">
                            <input
                              class="checkbox_animated check-it"
                              type="checkbox"
                              id="flexCheckDefault6"
                            />
                            <label
                              class="form-check-label"
                              for="flexCheckDefault6"
                              >فیلا</label
                            >
                            <p class="font-light">(25)</p>
                          </div>
                        </li>
                        <li>
                          <div class="form-check ps-0 custome-form-check">
                            <input
                              class="checkbox_animated check-it"
                              type="checkbox"
                              id="flexCheckDefault7"
                            />
                            <label
                              class="form-check-label"
                              for="flexCheckDefault7"
                              >پوما</label
                            >
                            <p class="font-light">(25)</p>
                          </div>
                        </li>
                        <li>
                          <div class="form-check ps-0 custome-form-check">
                            <input
                              class="checkbox_animated check-it"
                              type="checkbox"
                              id="flexCheckDefault8"
                            />
                            <label
                              class="form-check-label"
                              for="flexCheckDefault8"
                              >نیک
                            </label>
                            <p class="font-light">(25)</p>
                          </div>
                        </li>
                        <li>
                          <div class="form-check ps-0 custome-form-check">
                            <input
                              class="checkbox_animated check-it"
                              type="checkbox"
                              id="flexCheckDefault9"
                            />
                            <label
                              class="form-check-label"
                              for="flexCheckDefault9"
                              >اچ.آر.اکس</label
                            >
                            <p class="font-light">(25)</p>
                          </div>
                        </li>
                      </ul>{% endcomment %}
                    </div>
                  </div>
                </div>

                <div class="accordion-item category-color">
                  <h2 class="accordion-header" id="headingThree">
                    <button
                      class="accordion-button"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#collapseThree"
                    >
                      رنگ
                    </button>
                  </h2>
                  <div
                    id="collapseThree"
                    class="accordion-collapse collapse show"
                    aria-labelledby="headingThree"
                    data-bs-parent="#accordionExample"
                  >
                    <div class="accordion-body">
                      <ul class="category-list">
                        <li>
                          <a href="javascript:void(0)">
                            <i class="fas fa-check"></i>
                          </a>
                        </li>
                        <li>
                          <a href="javascript:void(0)">
                            <i class="fas fa-check"></i>
                          </a>
                        </li>
                        <li>
                          <a href="javascript:void(0)">
                            <i class="fas fa-check"></i>
                          </a>
                        </li>
                        <li>
                          <a href="javascript:void(0)">
                            <i class="fas fa-check"></i>
                          </a>
                        </li>
                        <li>
                          <a href="javascript:void(0)">
                            <i class="fas fa-check"></i>
                          </a>
                        </li>
                        <li>
                          <a href="javascript:void(0)">
                            <i class="fas fa-check"></i>
                          </a>
                        </li>
                        <li>
                          <a href="javascript:void(0)">
                            <i class="fas fa-check"></i>
                          </a>
                        </li>
                        <li>
                          <a href="javascript:void(0)">
                            <i class="fas fa-check"></i>
                          </a>
                        </li>
                        <li>
                          <a href="javascript:void(0)">
                            <i class="fas fa-check"></i>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>

                <div class="accordion-item category-price">
                  <h2 class="accordion-header" id="headingFour">
                    <button
                      class="accordion-button"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#collapseFour"
                    >
                      قیمت
                    </button>
                  </h2>
                  <div
                    id="collapseFour"
                    class="accordion-collapse collapse show"
                    aria-labelledby="headingFour"
                    data-bs-parent="#accordionExample"
                  >
                    <div class="accordion-body">
                      <div class="range-slider category-list">
                        <input type="text" class="js-range-slider" value="" />
                      </div>
                    </div>
                  </div>
                </div>
                <button type="submit" class="btn btn-primary btn-sm">فیلتر</button>
              </form>

                <div class="accordion-item category-rating">
                  <h2 class="accordion-header" id="headingOne">
                    <button
                      class="accordion-button"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#collapseOne"
                    >
                      دسته بندی
                    </button>
                  </h2>
                  <div
                    id="collapseOne"
                    class="accordion-collapse collapse show"
                    aria-labelledby="headingOne"
                  >
                    <div class="accordion-body category-scroll">
                      {% render_partial "pro:group_for_filter" %}
                      {% comment "" %}<ul class="category-list">
                        <li>
                          <div class="form-check ps-0 custome-form-check">
                            <input
                              class="checkbox_animated check-it"
                              type="checkbox"
                              id="flexCheckDefault10"
                            />
                            <label
                              class="form-check-label"
                              for="flexCheckDefault10"
                              >پیراهن</label
                            >
                            <p class="font-light">(25)</p>
                          </div>
                        </li>
                        <li>
                          <div class="form-check ps-0 custome-form-check">
                            <input
                              class="checkbox_animated check-it"
                              type="checkbox"
                              id="flexCheckDefault11"
                            />
                            <label
                              class="form-check-label"
                              for="flexCheckDefault11"
                              >تی شرت سولی</label
                            >
                            <p class="font-light">(25)</p>
                          </div>
                        </li>
                        <li>
                          <div class="form-check ps-0 custome-form-check">
                            <input
                              class="checkbox_animated check-it"
                              type="checkbox"
                              id="flexCheckDefault12"
                            />
                            <label
                              class="form-check-label"
                              for="flexCheckDefault12"
                              >کورتاس</label
                            >
                            <p class="font-light">(25)</p>
                          </div>
                        </li>
                        <li>
                          <div class="form-check ps-0 custome-form-check">
                            <input
                              class="checkbox_animated check-it"
                              type="checkbox"
                              id="flexCheckDefault13"
                            />
                            <label
                              class="form-check-label"
                              for="flexCheckDefault13"
                              >سویشرت</label
                            >
                            <p class="font-light">(25)</p>
                          </div>
                        </li>
                        <li>
                          <div class="form-check ps-0 custome-form-check">
                            <input
                              class="checkbox_animated check-it"
                              type="checkbox"
                              id="flexCheckDefault14"
                            />
                            <label
                              class="form-check-label"
                              for="flexCheckDefault14"
                              >ژاکت</label
                            >
                            <p class="font-light">(25)</p>
                          </div>
                        </li>
                        <li>
                          <div class="form-check ps-0 custome-form-check">
                            <input
                              class="checkbox_animated check-it"
                              type="checkbox"
                              id="flexCheckDefault15"
                            />
                            <label
                              class="form-check-label"
                              for="flexCheckDefault15"
                              >بلیزر</label
                            >
                            <p class="font-light">(25)</p>
                          </div>
                        </li>
                        <li>
                          <div class="form-check ps-0 custome-form-check">
                            <input
                              class="checkbox_animated check-it"
                              type="checkbox"
                              id="flexCheckDefault16"
                            />
                            <label
                              class="form-check-label"
                              for="flexCheckDefault16"
                              >پوما</label
                            >
                            <p class="font-light">(25)</p>
                          </div>
                        </li>
                        <li>
                          <div class="form-check ps-0 custome-form-check">
                            <input
                              class="checkbox_animated check-it"
                              type="checkbox"
                              id="flexCheckDefault17"
                            />
                            <label
                              class="form-check-label"
                              for="flexCheckDefault17"
                              >نیک
                            </label>
                            <p class="font-light">(25)</p>
                          </div>
                        </li>
                        <li>
                          <div class="form-check ps-0 custome-form-check">
                            <input
                              class="checkbox_animated check-it"
                              type="checkbox"
                              id="flexCheckDefault18"
                            />
                            <label
                              class="form-check-label"
                              for="flexCheckDefault18"
                              >اچ.آر.اکس</label
                            >
                            <p class="font-light">(25)</p>
                          </div>
                        </li>
                      </ul>{% endcomment %}
                    </div>
                  </div>
                </div>

                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingFive">
                    <button
                      class="accordion-button"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#collapseFive"
                    >
                      محدوده تخفیف
                    </button>
                  </h2>
                  <div
                    id="collapseFive"
                    class="accordion-collapse collapse show"
                    aria-labelledby="headingFive"
                    data-bs-parent="#accordionExample"
                  >
                    <div class="accordion-body">
                      <ul class="category-list">
                        <li>
                          <div class="form-check ps-0 custome-form-check">
                            <input
                              class="checkbox_animated check-it"
                              type="checkbox"
                              id="flexCheckDefault19"
                            />
                            <label
                              class="form-check-label"
                              for="flexCheckDefault19"
                              >5% و بیشتر</label
                            >
                          </div>
                        </li>
                        <li>
                          <div class="form-check ps-0 custome-form-check">
                            <input
                              class="checkbox_animated check-it"
                              type="checkbox"
                              id="flexCheckDefault20"
                            />
                            <label
                              class="form-check-label"
                              for="flexCheckDefault20"
                              >10% و بیشتر</label
                            >
                          </div>
                        </li>
                        <li>
                          <div class="form-check ps-0 custome-form-check">
                            <input
                              class="checkbox_animated check-it"
                              type="checkbox"
                              id="flexCheckDefault21"
                            />
                            <label
                              class="form-check-label"
                              for="flexCheckDefault21"
                              >20% و بیشتر</label
                            >
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>

                <!-- Slider section start -->
                <div class="most-popular">
                  <div class="title title-2 text-lg-start">
                    <h3>پرطرفدارترین</h3>
                  </div>

                  <div class="product-slider round-arrow1">
                    <div>
                      <div class="row g-3">
                        <div class="col-12">
                          <div class="product-image">
                            <a href="javascript:void(0)">
                              <img
                                src="assets/images/fashion/product/front/1.jpg"
                                class="blur-up lazyload"
                                alt=""
                              />
                            </a>
                            <div class="product-details">
                              <h6 class="font-light">تناسب منظم</h6>
                              <a href="javascript:void(0)" class="">
                                <h3>کت پلاستیکی مناسب برای لاغری</h3>
                              </a>
                              <h4 class="font-light mt-1">
                                <del>49,000 ت</del>
                                <span class="theme-color">35,500 ت</span>
                              </h4>
                            </div>
                          </div>
                        </div>

                        <div class="col-12">
                          <div class="product-image">
                            <a href="javascript:void(0)">
                              <img
                                src="assets/images/fashion/product/front/2.jpg"
                                class="blur-up lazyload"
                                alt=""
                              />
                            </a>
                            <div class="product-details">
                              <h6 class="font-light">تناسب منظم</h6>
                              <a href="javascript:void(0)" class="">
                                <h3>کت پلاستیکی مناسب برای لاغری</h3>
                              </a>
                              <h4 class="font-light mt-1">
                                <del>49,000 ت</del>
                                <span class="theme-color">35,500 ت</span>
                              </h4>
                            </div>
                          </div>
                        </div>

                        <div class="col-12">
                          <div class="product-image">
                            <a href="javascript:void(0)">
                              <img
                                src="assets/images/fashion/product/front/3.jpg"
                                class="blur-up lazyload"
                                alt=""
                              />
                            </a>
                            <div class="product-details">
                              <h6 class="font-light">تناسب منظم</h6>
                              <a href="javascript:void(0)" class="">
                                <h3>کت پلاستیکی مناسب برای لاغری</h3>
                              </a>
                              <h4 class="font-light mt-1">
                                <del>49,000 ت</del>
                                <span class="theme-color">35,500 ت</span>
                              </h4>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div>
                      <div class="row g-3">
                        <div class="col-12">
                          <div class="product-image">
                            <a href="javascript:void(0)">
                              <img
                                src="assets/images/fashion/product/front/6.jpg"
                                class="blur-up lazyload"
                                alt=""
                              />
                            </a>
                            <div class="product-details">
                              <h6 class="font-light">تناسب منظم</h6>
                              <a href="javascript:void(0)" class="">
                                <h3>کت پلاستیکی مناسب برای لاغری</h3>
                              </a>
                              <h4 class="font-light mt-1">
                                <del>49,000 ت</del>
                                <span class="theme-color">35,500 ت</span>
                              </h4>
                            </div>
                          </div>
                        </div>

                        <div class="col-12">
                          <div class="product-image">
                            <a href="javascript:void(0)">
                              <img
                                src="assets/images/fashion/product/front/7.jpg"
                                class="blur-up lazyload"
                                alt=""
                              />
                            </a>
                            <div class="product-details">
                              <h6 class="font-light">تناسب منظم</h6>
                              <a href="javascript:void(0)" class="">
                                <h3>کت پلاستیکی مناسب برای لاغری</h3>
                              </a>
                              <h4 class="font-light mt-1">
                                <del>49,000 ت</del>
                                <span class="theme-color">35,500 ت</span>
                              </h4>
                            </div>
                          </div>
                        </div>

                        <div class="col-12">
                          <div class="product-image">
                            <a href="javascript:void(0)">
                              <img
                                src="assets/images/fashion/product/front/8.jpg"
                                class="blur-up lazyload"
                                alt=""
                              />
                            </a>
                            <div class="product-details">
                              <h6 class="font-light">تناسب منظم</h6>
                              <a href="javascript:void(0)" class="">
                                <h3>کت پلاستیکی مناسب برای لاغری</h3>
                              </a>
                              <h4 class="font-light mt-1">
                                <del>49,000 ت</del>
                                <span class="theme-color">35,500 ت</span>
                              </h4>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Slider Section End -->
              </div>
            </div>
          </div>
          
          <div class="col-lg-9 col-12 ratio_30">
            <div class="banner-deatils">
              <div class="banner-image">
                <img
                  src="assets/images/fashion/banner.jpg"
                  class="img-fluid bg-img blur-up lazyload"
                  alt=""
                />
                <div class="banner-content">
                  <div>
                    <h3>خرید جدیدترین روند ها</h3>
                    <p>
                      آخرین ترندهای تن پوش را با ویرایش هفتگی ما از موارد جدید
                      در Voxo خریداری کنید. از جدیدترین مجموعه زنان.
                    </p>
                  </div>
                </div>
              </div>
              <div class="banner-contain mt-3 mb-5">
                <p class="font-light">
                  لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
                  استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و
                  مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی
                  تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای
                  کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و
                  آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم
                  افزارها.
                </p>
              </div>
            </div>
            <div class="row g-4">
              <!-- filter button -->
              <div class="filter-button">
                <button class="btn filter-btn p-0">
                  <i data-feather="align-left"></i> فیلتر
                </button>
              </div>
              <!-- filter button -->

              <!-- label and featured section -->
              <div class="col-md-12">
                <ul class="short-name">
                  <li>
                    <div class="label-tag">
                      <span>پیراهن</span>
                      <button
                        type="button"
                        class="btn-close"
                        aria-label="Close"
                      ></button>
                    </div>
                  </li>
                  <li>
                    <div class="label-tag">
                      <span>کورتاس</span>
                      <button
                        type="button"
                        class="btn-close"
                        aria-label="Close"
                      ></button>
                    </div>
                  </li>
                  <li>
                    <div class="label-tag">
                      <span>ژاکت</span>
                      <button
                        type="button"
                        class="btn-close"
                        aria-label="Close"
                      ></button>
                    </div>
                  </li>
                  <li>
                    <div class="label-tag">
                      <span>بلیزر</span>
                      <button
                        type="button"
                        class="btn-close"
                        aria-label="Close"
                      ></button>
                    </div>
                  </li>
                  <li>
                    <div class="label-tag">
                      <a href="javascript:void(0)"><span>پاک کردن همه</span></a>
                    </div>
                  </li>
                </ul>
              </div>

              <div class="col-12">
                <div class="filter-options">
                  <div class="select-options">
                    <div class="page-view-filter">
                      <div class="dropdown select-featured">
                        <button
                          class="btn dropdown-toggle"
                          type="button"
                          id="dropdownمنوButton1"
                          data-bs-toggle="dropdown"
                          aria-expanded="false"
                        >
                          24 صفحه در هر نمایش
                        </button>
                        <ul
                          class="dropdown-menu"
                          aria-labelledby="dropdownمنوButton1"
                        >
                          <li>
                            <a class="dropdown-item" href="javascript:void(0)"
                              >بر اساس حروف الفبا الف-ی</a
                            >
                          </li>
                          <li>
                            <a class="dropdown-item" href="javascript:void(0)"
                              >بر اساس حروف الفبا ی-الف</a
                            >
                          </li>
                          <li>
                            <a class="dropdown-item" href="javascript:void(0)"
                              >قیمت، بیشترین به کمترین</a
                            >
                          </li>
                          <li>
                            <a class="dropdown-item" href="javascript:void(0)"
                              >قیمت، کمترین به بیشترین</a
                            >
                          </li>
                          <li>
                            <a class="dropdown-item" href="javascript:void(0)"
                              >تاریخ، قدیمی ترین به جدید ترین</a
                            >
                          </li>
                          <li>
                            <a class="dropdown-item" href="javascript:void(0)"
                              >تاریخ، جدید ترین به قدیمی ترین</a
                            >
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="dropdown select-featured">
                      <button
                        class="btn dropdown-toggle"
                        type="button"
                        id="dropdownمنوButton1"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                      >
                        موارد ویژه را انتخاب کنید
                      </button>
                      <ul
                        class="dropdown-menu"
                        aria-labelledby="dropdownمنوButton1"
                      >
                        <li>
                          <a class="dropdown-item" href="javascript:void(0)"
                            >شلوار جین</a
                          >
                        </li>
                        <li>
                          <a class="dropdown-item" href="javascript:void(0)"
                            >تی شرت</a
                          >
                        </li>
                        <li>
                          <a class="dropdown-item" href="javascript:void(0)"
                            >پیراهن</a
                          >
                        </li>
                        <li>
                          <a class="dropdown-item" href="javascript:void(0)"
                            >ژاکت</a
                          >
                        </li>
                        <li>
                          <a class="dropdown-item" href="javascript:void(0)"
                            >هودی</a
                          >
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="grid-options d-sm-inline-block d-none">
                    <ul class="d-flex">
                      <li class="two-grid">
                        <a href="javascript:void(0)">
                          <img
                            src="assets/svg/grid-2.svg"
                            class="img-fluid blur-up lazyload"
                            alt=""
                          />
                        </a>
                      </li>
                      <li class="three-grid d-md-inline-block d-none">
                        <a href="javascript:void(0)">
                          <img
                            src="assets/svg/grid-3.svg"
                            class="img-fluid blur-up lazyload"
                            alt=""
                          />
                        </a>
                      </li>
                      <li class="grid-btn active d-lg-inline-block d-none">
                        <a href="javascript:void(0)">
                          <img
                            src="assets/svg/grid.svg"
                            class="img-fluid blur-up lazyload"
                            alt=""
                          />
                        </a>
                      </li>
                      <li class="list-btn">
                        <a href="javascript:void(0)">
                          <img
                            src="assets/svg/list.svg"
                            class="img-fluid blur-up lazyload"
                            alt=""
                          />
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <!-- label and featured section -->

            <!-- Prodcut setion -->
            <div
              class="row g-sm-4 g-3 row-cols-lg-4 row-cols-md-3 row-cols-2 mt-1 custom-gy-5 product-style-2 ratio_asos product-list-section"
            >
                {% for product in products %}
              <div>
                <div class="product-box">
                  <div class="img-wrapper">
                    <div class="front">
                      <a href="{% url "pro:product_detail" slug=product.slug %}">
                        <img
                          src="{{media_url}}{{product.image_name}}"
                          class="bg-img blur-up lazyload"
                          alt=""
                        />
                      </a>
                    </div>
                    {% comment "" %}
                    <div class="back">
                      <a href="product-left-sidebar.html">
                        <img
                          src="assets/images/fashion/product/back/1.jpg"
                          class="bg-img blur-up lazyload"
                          alt=""
                        />
                      </a>
                    </div>{% endcomment %}
                    <div class="cart-wrap">
                      <ul>
                        <li>
                          <a
                            href="javascript:void(0)"
                            class="addtocart-btn"
                            data-bs-toggle="modal"
                            data-bs-target="#addtocart"
                          >
                            <i data-feather="shopping-bag"></i>
                          </a>
                        </li>
                        <li>
                          <a
                            href="javascript:void(0)"
                            data-bs-toggle="modal"
                            data-bs-target="#quick-view"
                          >
                            <i data-feather="eye"></i>
                          </a>
                        </li>
                        <li>
                          <a href="compare.html">
                            <i data-feather="refresh-cw"></i>
                          </a>
                        </li>
                        <li>
                          <a href="wishlist.html" class="wishlist">
                            <i data-feather="heart"></i>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="product-details">
                    <div class="rating-details">
                      <span class="font-light grid-content"
                        >   {{product.product_name}}</span
                      >
                      <ul class="rating mt-0">
                        <li>
                          <i class="fas fa-star theme-color"></i>
                        </li>
                        <li>
                          <i class="fas fa-star theme-color"></i>
                        </li>
                        <li>
                          <i class="fas fa-star"></i>
                        </li>
                        <li>
                          <i class="fas fa-star"></i>
                        </li>
                        <li>
                          <i class="fas fa-star"></i>
                        </li>
                      </ul>
                    </div>
                    <div class="main-price">
                      <a href="{% url "pro:product_detail" slug=product.slug %}" class="font-default">
                        <h5 class="ms-0">{{product.s_description}}</h5>
                      </a>
                      <div class="listing-content">
                        <span class="font-light">تناسب منظم</span>
                        <p class="font-light">
                          لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت
                          چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون
                          بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و
                          برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع
                          با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی
                          در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه
                          و متخصصان را می طلبد.
                        </p>
                      </div>
                      <h3 class="theme-color">{{product.price|intcomma}}ت</h3>
                      <button
                        onclick="location.href = 'cart.html';"
                        class="btn listing-content"
                      >
                        سبد خرید
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}


              <!-- Prodcut setion -->
            </div>

            <nav class="page-section">
              <ul class="pagination">
                <li class="page-item">
                  <a
                    class="page-link"
                    href="javascript:void(0)"
                    aria-label="Previous"
                  >
                    <span aria-hidden="true">
                      <i class="fas fa-chevron-left"></i>
                    </span>
                  </a>
                </li>
                <li class="page-item active">
                  <a class="page-link" href="javascript:void(0)">1</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="javascript:void(0)">2</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="javascript:void(0)">3</a>
                </li>
                <li class="page-item">
                  <a class="page-link" aria-label="Next">
                    <span aria-hidden="true">
                      <i class="fas fa-chevron-right"></i>
                    </span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </section>
    <!-- Shop Section end -->

    <!-- Subscribe Section Start -->
    <section class="subscribe-section section-b-space">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-6">
            <div class="subscribe-details">
              <h2 class="mb-3">اخبار ما را دنبال کنید</h2>
              <h6 class="font-light">
                ما را دنبال کنید وخبرنامه های ما را دریافت کنید تا از اخبار جدید
                و محصولات فوقالعاده خبردار شوید.
              </h6>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mt-md-0 mt-3">
            <div class="subsribe-input">
              <div class="input-group">
                <input
                  type="text"
                  class="form-control subscribe-input"
                  placeholder="آدرس"
                  ایمیل
                  شما
                />
                <button class="btn btn-solid-default" type="button">
                  ارسال
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Subscribe Section End -->





{% endblock content %}







